/* * {
    margin: 0;
    height: 0;
} */
html {
    scroll-behavior: smooth;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1320px;
}

.navFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Outfit", sans-serif;
}

.linkerNav {
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;

}

.linkerNav li:hover {
    font-weight: 400;
    transition: 0.2s;
}

.text-red {
    color: red;
}

/* Navbar */


/* Hero */
.hero {
    padding: 100px 0;
    text-align: center;
    font-family: "Ovo", serif;
}

.imageME {
    width: 158px;
    height: 158px;
    border-radius: 50%;
}

.hText1 {
    font-size: 28px;
    font-weight: 300;
}

.hText2 {
    font-size: 80px;
    font-weight: 300;
}

.hWidth {
    width: 847px;
    margin: 0 auto;
}

.btn1 {
    padding: 20px 30px;
    border-radius: 30px;
    background: #000;
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

/* Hero */


/* about part */
.about {
    padding: 100px 0;
    font-family: "Ovo", serif;

}

.aboutT1 {
    text-align: center;
    font-family: "Ovo", serif;
}

.aboutP1 {
    font-size: 24px;
    font-weight: 400;
}

.aboutP2 {
    font-size: 60px;
    font-weight: 400;
}

.photo2 {
    width: 463px;
    height: 513px;
    border-radius: 30px;
    /* max-width: 100%; */
}

.flexForAbout {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.widthOfPinAbout {
    width: 797px;
    font-family: "Ovo", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

.flexForSkills {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.borderForSkills {
    padding: 20px 30px;
    border: 2px solid #c7b8b8;
    border-radius: 9px;
    width: 250px;
    cursor: pointer;
}

.borderForSkills:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.skillsP1 {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #494949;
}

.skillsP2 {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #797979;
    line-height: 26px;
}

.sizeOfIcon {
    font-size: 30px;
}

.toolsFlex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}

.iconsTool {
    padding: 20px;
    width: 33px;
    height: 33px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.iconsTool:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

/* about part */

/* Desktops */
@media (max-width: 1280px) {}

/*  For Tablets */
@media (max-width: 768px) {
    .hero {
        padding: 100px 0;
        text-align: center;
        font-family: "Ovo", serif;
    }

    .imageME {
        width: 158px;
        height: 158px;
        border-radius: 50%;
    }

    .hText1 {
        font-size: 28px;
        font-weight: 300;
    }

    .hText2 {
        font-size: 40px;
        font-weight: 300;
    }

    .hWidth {
        width: 583px;
        margin: 0 auto;
    }

    .btn1 {
        padding: 20px 30px;
        border-radius: 30px;
        background: #000;
        color: white;
        font-family: "Outfit", sans-serif;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
    }

    /* About section */
    .about {
        padding: 100px 0;
        font-family: "Ovo", serif;
    }

    .aboutT1 {
        text-align: center;
        font-family: "Ovo", serif;
    }

    .aboutP1 {
        font-size: 24px;
        font-weight: 400;
    }

    .aboutP2 {
        font-size: 60px;
        font-weight: 400;
    }

    .photo2 {
        width: 463px;
        height: 513px;
        border-radius: 30px;
        /* max-width: 100%; */
    }

    .flexForAbout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .widthOfPinAbout {
        width: 497px;
        font-family: "Ovo", serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        text-align: center;
    }

    .flexForSkills {
        display: flex;
        flex-direction: row;
        gap: 30px;

    }

    .borderForSkills {
        padding: 20px 30px;
        border: 2px solid #c7b8b8;
        border-radius: 9px;
        width: 450px;
        cursor: pointer;
    }

    .borderForSkills:hover {
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    }

    .skillsP1 {
        font-family: "Outfit", sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #494949;
    }

    .skillsP2 {
        font-family: "Outfit", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #797979;
        line-height: 26px;
    }

    .sizeOfIcon {
        font-size: 30px;
    }

    .toolsFlex {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 10px;
        justify-content: center;
    }

    .iconsTool {
        padding: 20px;
        width: 33px;
        height: 33px;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
    }

    .iconsTool:hover {
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    }

    /* About section */
}

/* For Mobile */
@media (max-width: 480px) {
    .linkerNav {
        display: flex;
        gap: 20px;
        font-size: 20px;
        font-weight: 200;
        cursor: pointer;
    }

    .namePlate {
        font-size: 10px;
    }

    /* Hero  */
    .hero {
        padding: 100px 0;
        text-align: center;
        font-family: "Ovo", serif;
    }

    .imageME {
        width: 158px;
        height: 158px;
        border-radius: 50%;
    }

    .hText1 {
        font-size: 28px;
        font-weight: 300;
    }

    .hText2 {
        font-size: 30px;
        font-weight: 700;
    }

    .hWidth {
        width: 347px;
        margin: 0 auto;
    }

    .btn1 {
        padding: 20px 30px;
        border-radius: 30px;
        background: #000;
        color: white;
        font-family: "Outfit", sans-serif;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
    }

    /* Hero  */

    .about {
        padding: 100px 0;
        font-family: "Ovo", serif;
    }

    .aboutT1 {
        text-align: center;
        font-family: "Ovo", serif;
    }

    .aboutP1 {
        font-size: 24px;
        font-weight: 400;
    }

    .aboutP2 {
        font-size: 60px;
        font-weight: 400;
    }

    .photo2 {
        width: 463px;
        height: 513px;
        border-radius: 30px;
        /* max-width: 100%; */
    }

    .flexForAbout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .widthOfPinAbout {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 397px;
        font-family: "Ovo", serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        /* text-align: center; */
    }

    .flexForSkills {
        display: flex;
        flex-direction: column;
        gap: 30px;

    }

    .borderForSkills {
        padding: 20px 30px;
        border: 2px solid #c7b8b8;
        border-radius: 9px;
        width: 250px;
        cursor: pointer;
    }

    .borderForSkills:hover {
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    }

    .skillsP1 {
        font-family: "Outfit", sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #494949;
    }

    .skillsP2 {
        font-family: "Outfit", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #797979;
        line-height: 26px;
    }

    .sizeOfIcon {
        font-size: 30px;
    }

    .toolsFlex {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 10px;
        justify-content: center;
    }

    .iconsTool {
        padding: 20px;
        width: 33px;
        height: 33px;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
    }

    .iconsTool:hover {
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    }

    /* About section */

}